@model IEnumerable<PROG_POE_CMCS.Models.Claim>

@{
    ViewData["Title"] = "Academic Manager View";
}

<h1>Claim View(Manager)</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursWorked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourlyRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documents)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoursWorked)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HourlyRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Condition)
                </td>
                <td>
                    @if (item.Documents != null && item.Documents.Any())
                    {
                        <h6>Attached Documents</h6>
                        <ul>
                            @foreach (var doc in item.Documents)
                            {
                                <li>
                                    <a href="@doc.FilePath" target="_blank">@doc.FileName</a>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span>No documents</span>
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <button asp-action="Approve" type="button" class="alert-success">Accept</button> |
                    <button asp-action="Reject" type="button" class="alert-danger">Reject</button>
                </td>
            </tr>
        }
    </tbody>
</table>
